input[type='submit'],
a.il-btn,
button.il-btn {
  font-size: 0.9em;
  word-spacing: 2px;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
  background-color: $btn-background-color;
  text-transform: uppercase;
  border: 1px solid $btn-border-color;
  transition: all 0.5s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 4px;
  visibility: visible;
  &.--submit {
    padding: .95rem 1.3rem;
    background-color: #3b3531;
    color: white;
    width: 100%;
    text-transform: none;
    border: none;
    outline: none;
  }
  &.--left {
    margin-left: 0;
  }
  &.--right {
    margin-right: 0;
  }
  &.--auto {
    margin: auto;
  }
  &.--small {
    width: 240px;
    padding: 0.15rem 0.7rem;
    font-size: 0.89rem;
    @media screen and (min-width: 1171px) {
      width: 280px;
    }
  }
}
